//---------------------------------------------fonts
$font_path: "../../fonts/";
$font_1: 'RobotoCondensed', sans-serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$black_2: #191919;
$black_3: #252525;

$dark: #313030;
$dark_2: #2c2b2b;

$red: #da4747;


$gray: #E7EBF0;

$blue: #1976d2;

$color_text_base: $white;
$color_link_base:$red;
$body_bg: $black_2;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 144rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 1.4rem;
$input_font_size: $font_size_base;
$input_border_color: rgba($white, .6);
$input_border_color_active: $white;
$input_placeholder_color: rgba($white, .6);
$input_text_color: $white;
$input_radius: $gl_radius;
//---------------------------------------------forms###