.account_info {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin-bottom: 2rem;
}

.account_info__logo {
	@extend %global_flex_block_row_wrap_center_center;

	width: 5rem;
	height: 5rem;
	margin-right: 1.6rem;
	flex-shrink: 0;

	font-size: 2.4rem;

	background-color: $dark;
	border-radius: 50%;
}

.account_info__logo_img {
	@extend %cover_img;
}

.account_info__content {
	margin-right: auto;
	color: $white;
}

.account_info__name {
	margin-bottom: .4rem;
	font-size: 1.8rem;
}

.account_info__email {
	font-size: 1.4rem;
}

.account_info__link {
	@extend %base_link;

	margin-left: 1rem;
	font-size: 1.2rem;
}