.account_info {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin-bottom: 2rem;
}

.account_info__logo {
	width: 5rem;
	height: 5rem;
	margin-right: 1.6rem;
	flex-shrink: 0;

	background-color: $white;
	border-radius: 50%;
}

.account_info__logo_img {
	@extend %cover_img;
}

.account_info__content {
	margin-right: 1rem;
	color: $white;
}

.account_info__name {
	margin-bottom: .4rem;
	font-size: 1.8rem;
}

.account_info__email {
	font-size: 1.4rem;
}

.account_info__logout {
	@extend %base_link;

	margin-left: auto;
	font-size: 1.2rem;
}