.filter {
  @extend %global_flex_block_row_wrap_flex-start_center;

  min-height: 3.4rem;
  padding: .4rem 1rem;
  width: 100%;

  font-size: 1.6rem;
  color: $white;

  border-radius: $gl_radius;

  &:hover,
  &:focus,
  &.filter--current_mod {
    background-color: $dark;
  }
}

.filter_icon {
  @extend %global_flex_block_row_wrap_flex-start_center;

  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.filter_icon__in {
  position: relative;
  width: 100%;
  height: .2rem;

  background-color: rgba($white, .6);
  border-radius: 50%;

  &::after,
  &::before {
    position: absolute;
    left: 0;

    width: 100%;
    height: .2rem;
    background-color: rgba($white, .6);
    border-radius: 50%;
    content: '';
  }

  &::after {
    top: -.5rem;
  }
  &::before {
    bottom: -.4rem;
  }
}

.filter_title {

}
