.filters {
	position: relative;
	height: 100%;
	padding-bottom: 4.4rem;

	.account_info ~ & {
		max-height: calc(100% - 7rem);
	}

	.sidebar_link ~ & {
		margin-bottom: 2rem;
		max-height: calc(100% - 6rem);
	}

	.sidebar_link ~ .account_info ~ & {
		max-height: calc(100% - 7rem - 6rem);
	}
}

.filters_list {
	max-height: 100%;
	padding-right: 2rem;
	margin-right: -2.6rem;
	overflow-y: auto;

	&::-webkit-scrollbar {
    width: 4px;
	}
	&::-webkit-scrollbar-track {
    background-color: $black_2;
	}
	&::-webkit-scrollbar-thumb {
    background-color: $dark;
	}
}

.filters_item {
	&:not(:last-child) {
		margin-bottom: .6rem;
	}
}

.filters_create {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.filters_create__btn {
	@extend %global_flex_block_row_wrap_flex-start_center;

	min-height: 3.4rem;
	padding: .4rem 1rem;
	width: 100%;

	font-size: 1.6rem;
	color: rgba($white, .8);

	border-radius: $gl_radius;
	border: .2rem solid currentColor;

	&:focus-within {
		color: rgba($red, .8);
	}
}


.filters_create__icon {
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	flex-shrink: 0;
	margin-right: 1.4rem;

	color: inherit;
	pointer-events: none;

	transition: transform .3s ease;

	&::after,
	&::before {
		position: absolute;
		left: 0;
		top: 50%;

		width: 100%;
		height: 1px;
		margin-top: -1px;

		border-bottom: 1px solid currentColor;
		content: '';
	}

	&::after {
		transform: rotateZ(90deg);
	}

	.filters_create__btn:focus-within & {
		cursor: pointer;
		pointer-events: initial;
		transform: rotate(45deg);
	}
}

.filters_create__title {
	flex: auto;
	background-color: transparent;
	border: 0;
	padding: 0;
	color: rgba($white, .8);
	font: inherit;

	&:focus {
		color: $white;
	}
}
