.filters {

}

.filters_list {
	&:not(:last-child) {
		margin-bottom: .6rem;
	}
}

.filters_item {
	&:not(:last-child) {
		margin-bottom: .6rem;
	}
}

.filters_create {

}

.filters_create__btn {
	@extend %global_flex_block_row_wrap_flex-start_center;

	min-height: 3.4rem;
	padding: .4rem 1rem;
	width: 100%;

	font-size: 1.6rem;
	color: rgba($white, .4);

	border-radius: $gl_radius;
	box-shadow: inset 0 0 2px rgba($white, .4);
}


.filters_create__icon {
	width: 1.6rem;
	height: 1.6rem;
	flex-shrink: 0;
	opacity: 0;
}

.filters_create__title {
	flex: auto;
	background-color: transparent;
	border: 0;
	padding: 0;
	color: inherit;
	font: inherit;

	&:focus {
		color: rgba($white, .8);
	}
}
