.todo_task {
	@extend %global_flex_block_row_wrap_flex-start_center;

	width: 100%;
	padding: 2rem 2rem;

	color: $white;

	background-color: $dark_2;
	border-radius: $gl_radius;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $dark;
	}
}

.todo_task_status {
	position: relative;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 2rem;

	border: .24rem solid $white;
	border-radius: 50%;

	&::after {
		position: absolute;
		left: 0;
		top: 0;

		width: 2rem;
		height: 2rem;

		opacity: 0;

		background: url('../../images/icons/check.svg') center / contain no-repeat;
		content: '';
	}

	.todo_task--completed_mod &::after {
		opacity: 1;
	}
}

.todo_task_title {
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: .03em;
}