.todo_task {
	@extend %global_flex_block_row_wrap_flex-start_center;

	position: relative;

	order: 1;
	width: 100%;
	padding: 2rem 2rem;
	min-height: 7.2rem;

	color: $white;

	background-color: $dark;
	border-radius: $gl_radius;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $dark_2;
	}

	&.todo_task--completed_mod {
		order: 2;
		background-color: $dark_2;
		opacity: .6;
	}
}

.todo_task_important {
	position: absolute;
	left: -3rem;
	top: 50%;

	margin-top: -.8rem;
	width: 1.6rem;
	height: 1.6rem;

	opacity: 0;
	border: 2px solid rgba($red, .8);
	border-radius: 50%;
	cursor: pointer;

	transition: opacity .3s, background-color .2s;

	.todo_task:hover &,
	.todo_task:focus & {
		opacity: 1;
	}

	.todo_task.todo_task--important_mod & {
		background-color: $red;
		opacity: 1;
	}
}

.todo_task_status {
	position: relative;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 2rem;

	border: .24rem solid $white;
	border-radius: 50%;
	cursor: pointer;

	&::after {
		position: absolute;
		left: 0;
		top: 0;

		width: 2rem;
		height: 2rem;

		opacity: 0;

		background: url('../../images/icons/check.svg') center / contain no-repeat;
		content: '';
	}

	.todo_task--completed_mod &::after {
		opacity: 1;
	}
}

.todo_task_title {
	flex: auto;
	margin-right: 2rem;

	font-size: 2.2rem;
	font-weight: 400;
	letter-spacing: .03em;
	color: $white;

	background-color: transparent;
	border: 0;
}

.todo_task_delete {
	position: relative;

	width: 2rem;
	height: 2rem;
	margin-left: auto;

	opacity: 0;

	cursor: pointer;

	transition: opacity .3s;

	&::after,
	&::before {
		position: absolute;
		left: 0;
		top: 50%;

		width: 100%;
		height: 2px;
		margin-top: -1px;

		background-color: $white;
		content: '';
	}

	&::after {
		transform: rotateZ(45deg);
	}

	&::before {
		transform: rotateZ(-45deg);
	}

	.todo_task:hover &,
	.todo_task:focus & {
		opacity: 1;
	}
}