%form_el_label {
	display: block;
	margin-bottom: .4rem;

	font-size: 1.6rem;
	color: $black;

	cursor: pointer;
}

%form_el_default {
	display: block;
	width: 100%;
	height: $input_height;
	padding: $input_offset;
	font-size: $input_font_size;
	font-family: $font_1;
	font-weight: 300;
	color: $input_text_color;
	box-shadow: unset;
	border: 1px solid $input_border_color;
	border-radius: $input_radius;
	background-color: $dark_2;

	transition: border-color .3s;

	&::-webkit-input-placeholder {
		color: $input_placeholder_color;
	}

	&::-moz-placeholder {
		color: $input_placeholder_color;
	}

	&:-ms-input-placeholder {
		color: $input_placeholder_color;
	}

	&:hover,
	&:focus {
		border-color: $input_border_color_active;
	}

	&:disabled {
		opacity: .7;
	}
}
