@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}

}

//color extends
%red_btn_1 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	color: $white;
	font-weight: 700;
	font-size: 1.6rem;
	font-family: $font_1;
	letter-spacing: 0.07em;
	text-transform: uppercase;

	cursor: pointer;
	background-color: $red;
	transition: background-color .3s ease;

	&:hover,
	&:focus {
		background-color: darken($red, 10%);
		text-decoration: none;
	}
}

%base_link {
	font-size: 1.4rem;
	color: $red;
	cursor: pointer;

	transition: color .3s;

	&:hover,
	&:focus {
		color: darken($red, 10%);
		text-decoration: none;
	}
}


//size extends
%btn_size_1 {
	height: 4rem;
	padding: .6rem 1.6rem;
	min-width: 6.4rem;

	line-height: 1.75;
	font-size: 1.4rem;

	border-radius: .4rem;
}
